<?xml version="1.0" encoding="UTF-8"?>
<config> 
    <modules>
        <MatthewAnstey_ShowBlocks>
            <!-- The version of our module, starting at 0.0.1 -->
            <version>0.0.1</version>
        </MatthewAnstey_ShowBlocks>

    </modules>
    <global>
     <events>
        <core_block_abstract_to_html_after>
            <observers>
                <visibleblocks_showblocks>
                    <class>MatthewAnstey_ShowBlocks_Model_Observer</class>
                    <method>wrapHtml</method>
                </visibleblocks_showblocks>
            </observers>
        </core_block_abstract_to_html_after>
    </events>
    </global>
     <frontend>
        <layout>
            <updates>
                <visibleblocks_showblocks>
                    <file>showblocks_layout.xml</file>
                </visibleblocks_showblocks>
            </updates>
        </layout>
    </frontend>
</config>