.cms-block {
    display:block;
    margin: 6px 2px;
    padding: 18px 2px 2px;
    
    border: 1px dotted #FF0000;
    
    overflow: hidden;
}
.cms-block-wrapper {
    display:block;
    position:relative;
    overflow:auto;
}
.cms-block-title {
    display:block;
    position: absolute;
    left: -1px;
    top: 0;
    padding: 2px 5px;
    
    background:white;
    
    color: #FF0000;
    font-size: 11px;
}

